/*  Bootstrap
    ------------------------------------------------------- */

/*  apply font awesome
    ------------------------------------------------------- */

div.danger p.admonition-title:before,
div.error p.admonition-title:before,
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before,
div.important p.admonition-title:before,
div.note p.admonition-title:before,
div.hint p.admonition-title:before,
div.tip p.admonition-title:before
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
}

div.danger p.admonition-title:before,
div.error p.admonition-title:before {
  content: "\f06a";
}
div.warning p.admonition-title:before,
div.caution p.admonition-title:before,
div.attention p.admonition-title:before {
  content: "\f071";
}
div.important p.admonition-title:before,
div.note p.admonition-title:before {
  content: "\f05a";
}
div.hint p.admonition-title:before,
div.tip p.admonition-title:before {
  content: "\f0eb";
}
h1 { font-size: 1.6em; }

h2 { font-size: 1.3em; }

h3 { font-size: 1.0em; }

h4 { font-size: 0.6em; }

h5 { font-size: 0.4em; }

h6 { font-size: 0.3em; }


    
    
    

    
    
    

    
    
    

    
    
    

    
    
    


table.docutils th,
table.docutils td {
  border-top: 1px solid #1c1e22;
}
table.docutils tbody + tbody {
  border-top: 2px solid #1c1e22;
}
table.docutils {
  border: none;
  border-top: 1px solid #1c1e22;
  border-right: 1px solid #1c1e22;
  border-bottom: 1px solid #1c1e22;
}
table.docutils th,
table.docutils td {
  border-left: 1px solid #1c1e22;
}

table.docutils tbody tr:nth-child(odd) td,
table.docutils tbody tr:nth-child(odd) th {
  background-color: #2e3236;
}

table.docutils tbody tr:hover td,
table.docutils tbody tr:hover th {
  background-color: #3a3f44;
}
table.docutils.field-list {
  border: none;
}


/* -- admonition -- */
div.admonition {
  color: rgba(255, 255, 255, 0.9);
  background-color: #f89406;
  border-color: #f89406;
}

/* -- danger, error -- */
div.danger,
div.error {
  color: rgba(255, 255, 255, 0.9);
  background-color: #b94a48;
  border-color: #b94a48;
}

/* -- warning, caution, attention -- */
div.warning,
div.caution,
div.attention {
  color: rgba(255, 255, 255, 0.9);
  background-color: #f89406;
  border-color: #f89406;
}

/* -- note, important -- */
div.note,
div.important {
  color: rgba(255, 255, 255, 0.9);
  background-color: #468847;
  border-color: #468847;
}

/* -- hint, tip -- */
div.hint,
div.tip {
  color: rgba(255, 255, 255, 0.9);
  background-color: #3a87ad;
  border-color: #3a87ad;
}

div.topic {
  background-color: #2e3236;
  border-color: #1c1e22;
}



/* for mobile */
@media (max-width: 480px) {
  a.brand {
    width: 80%;
  }
  searchbox .search-query {
    width: 60%;
  }
}

/* for desktop */
@media (min-width: 768px) {
  
  .navbar-inner div.container {
    width: 900px;
  }
  
  
  div.container {
    width: 900px;
  }
  
}